### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [3]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
purchases = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_df = pd.read_csv(purchases)
purchase_df.head(10) #Testing file read

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58

## Player Count

* Display the total number of players

In [4]:
players = len(purchase_df["SN"].unique())
total_players = pd.DataFrame({"Total Players": [players]})
total_players

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
unique_items = len(purchase_df["Item ID"].unique())
average_price = purchase_df["Price"].mean()
number_of_purchases = len(purchase_df["Purchase ID"])
total_revenue = purchase_df["Price"].sum()

purchasing_analysis = pd.DataFrame({"Number of Unique Items":[unique_items], "Average Price":[average_price],
                                   "Number of Purchases":[number_of_purchases], "Total Revenue":[total_revenue]})

#Format clean up
purchasing_analysis["Average Price"] = purchasing_analysis["Average Price"].map("${:,.2f}".format)
purchasing_analysis["Total Revenue"] = purchasing_analysis["Total Revenue"].map("${:,.2f}".format)

purchasing_analysis

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [6]:
#Dropping duplicate gender counts from same usernames
unique_genders = purchase_df.drop_duplicates(subset="SN", keep="first")

genders_total = unique_genders["Gender"].count()
male = unique_genders["Gender"].value_counts()["Male"]
female = unique_genders["Gender"].value_counts()["Female"]
other = unique_genders["Gender"].value_counts()["Other / Non-Disclosed"]

percentage_male = (male/genders_total) *100
percentage_female = (female/genders_total) *100
percentage_other = (other/genders_total) *100

demographics = pd.DataFrame({"": ["Male", "Female", "Other / Non-Disclosed"],
                            "Total Count": [male, female, other],
                             "Percentage of Players": [percentage_male, percentage_female, percentage_other]})

#Format clean up
demographics["Percentage of Players"] = demographics["Percentage of Players"].map("{:.2f}".format)

demographics = (demographics.set_index(''))

demographics.style.set_properties(**{'text-align': 'left'})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
groupby_gender = purchase_df.groupby(["Gender"])

purchase_count = groupby_gender["Purchase ID"].count()
purchase_value = groupby_gender["Price"].sum()
purchase_average = purchase_value/purchase_count

#Finding Avg Total Purchase per Person by unique SN
genders_total_x = unique_genders["Gender"].value_counts()
purchase_avg_players = purchase_value/genders_total_x

gender_purchases = pd.DataFrame({"Purchase Count": purchase_count,
                                "Average Purchase Price": purchase_average,
                                "Total Purchase Value": purchase_value,
                                 "Avg Total Purchase per Person": purchase_avg_players
                                })

#Format clean up
gender_purchases["Average Purchase Price"] = gender_purchases["Average Purchase Price"].map("${:,.2f}".format)
gender_purchases["Total Purchase Value"] = gender_purchases["Total Purchase Value"].map("${:,.2f}".format)
gender_purchases["Avg Total Purchase per Person"] = gender_purchases["Avg Total Purchase per Person"].map("${:,.2f}".format)

gender_purchases.style.set_properties(**{'text-align': 'left'})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [25]:
bins = [0,9,14,19,24,29,34,39,150]
age_group = ['<10', '10 - 14', '15 - 19', '20 - 24', '25 - 29', '30 - 34', '35 - 39', 'Over 40']

# purchasedf_copy1 = purchase_df.drop_duplicates(subset="SN", keep="first")
purchase_df[""] = pd.cut(purchase_df["Age"], bins, labels=age_group)

#purchase_df.drop_duplicates(subset="SN", keep="first")

binned_age = purchase_df.groupby([""])

age_count = binned_age["SN"].nunique()
total_count = purchase_df["SN"].nunique()
age_percentage = (age_count/total_count) *100
age_demographics = pd.DataFrame ({"Total Count": age_count,
                                 "Percentage of Players": age_percentage})

#Format clean up
age_demographics["Percentage of Players"] = age_demographics["Percentage of Players"].map("{:.2f}".format)

age_demographics.style.set_properties(**{'text-align': 'left'})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [26]:
#Copy of original df
purchasedf_copy2 = purchase_df.copy()

#Binning with data including dupes
purchasedf_copy2[""] = pd.cut(purchasedf_copy2["Age"], bins, labels=age_group)
binned_age2 = purchasedf_copy2.groupby([""])

purchase_count_x = binned_age2["Purchase ID"].count()
purchase_value_x = binned_age2["Price"].sum()
purchase_average_x = purchase_value_x/purchase_count_x

age_group_counts = purchasedf_copy[""].value_counts()
purchase_avg_ages = purchase_value_x/age_group_counts

age_purchasing = pd.DataFrame({"Purchase": purchase_count_x,
                              "Average Purchase Price": purchase_average_x,
                              "Total Purchase Value": purchase_value_x,
                              "Avg Total Purchase per Person": purchase_avg_ages})

#Format clean up
age_purchasing["Average Purchase Price"] = age_purchasing["Average Purchase Price"].map("${:,.2f}".format)
age_purchasing["Total Purchase Value"] = age_purchasing["Total Purchase Value"].map("${:,.2f}".format)
age_purchasing["Avg Total Purchase per Person"] = age_purchasing["Avg Total Purchase per Person"].map("${:,.2f}".format)

#Index reorder
age_purchasing = age_purchasing.reindex(index= ['10 - 14', '15 - 19', '20 - 24', '25 - 29', '30 - 34', '35 - 39', 'Over 40', '<10'])

age_purchasing = age_purchasing.style.set_properties(**{'text-align': 'left'})

age_purchasing

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [27]:
group_sn = purchase_df.groupby(["SN"])

purchase_count_sn = group_sn["Purchase ID"].count()
purchase_value_sn = group_sn["Price"].sum()
purchase_average_sn = group_sn["Price"].mean()

top_spenders = pd.DataFrame({"Purchase Count": purchase_count_sn,
                            "Average Purchase Price": purchase_average_sn,
                            "Total Purchase Value": purchase_value_sn})

#Sorting top spenders by Total Purchase Value in decending order
top_5_spenders = top_spenders.sort_values("Total Purchase Value", ascending=False)

#Format clean up
top_5_spenders["Average Purchase Price"] = top_5_spenders["Average Purchase Price"].map("${:,.2f}".format)
top_5_spenders["Total Purchase Value"] = top_5_spenders["Total Purchase Value"].map("${:,.2f}".format)

top_5_spenders.head().style.set_properties(**{'text-align': 'left'})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [28]:
groupby_items = purchase_df.set_index(["Item ID","Item Name"])#Setting new indices
groupby_items = purchase_df.groupby(["Item ID","Item Name"])

item_counts = groupby_items["Item ID"].count()
item_sum = groupby_items["Price"].sum()
item_price = item_sum / item_counts

pop_items = pd.DataFrame({"Purchase Count": item_counts,
                         "Item Price": item_price,
                         "Total Purchase Value": item_sum})

#Sorting by Purchase Count in decending order
most_pop_items = pop_items.sort_values("Purchase Count", ascending=False)

#Format clean up
most_pop_items["Item Price"] = most_pop_items["Item Price"].map("${:,.2f}".format)
most_pop_items["Total Purchase Value"] = most_pop_items["Total Purchase Value"].map("${:,.2f}".format)

most_pop_items.head().style.set_properties(**{'text-align': 'left'})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [29]:
most_profitable_items = pop_items.sort_values("Total Purchase Value", ascending=False)

#Format clean up
most_profitable_items["Item Price"] = most_profitable_items["Item Price"].map("${:,.2f}".format)
most_profitable_items["Total Purchase Value"] = most_profitable_items["Total Purchase Value"].map("${:,.2f}".format)

most_profitable_items.head().style.set_properties(**{'text-align': 'left'})